.showimage {
    margin-left: 23px;
    margin-top: 23px;

}

/* .conmargin{
    margin-left: 9.8rem;
} */
/* .homemag{
    margin-left: 5rem;
} */
.lidisc {
    margin-left: 3rem;
    list-style: disc;
}

.userlog {
    /* color: #16a085; */
    margin-left: 1rem;
    /* margin: -3rem; */
    padding: 0.6rem;  
    
} 

.btn1 {
    background: #fff;
    color:
}

/* .cart-qty {
    width: 42px;
    height: 25px;
    font: 11px/25px Arial, sans-serif;
    color: #222;
    border: 0;
    margin: 0;
    padding: 0 2px; 
    text-align: center;
    background: url(img/inputfield.png) no-repeat;
} */


icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}

.bonusesList {
    font: bold 12px Arial;
    background: #fff;
    color: #4e4e4e;
    border: 1px solid #9dbb8e;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bonusesList ul li {
    background-image: url(img\list-active.gif);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    line-height: 25px;
    padding-left: 23px;
}

.bonusesList ul li.active {
    background-image: url(img\list-active.gif);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    line-height: 25px;
    padding-left: 23px;
}

.flex-xs {
    display: inline-block;
    width: 100%;
}

.btn-big,
.tx-big {
    font-size: 15px;
    height: 60px;
    line-height: 57px;
    padding: 0 32px;
}

.tx {
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.cart-types {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart-types li {
    float: left;
    width: 255px;
    padding: 0 0 0 29px;
}
.cart-types:after {
    content: '';
    display: block;
    clear: both;
}

.cart-types-head {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: bold;
}

.radioAreaChecked,
.radioArea {
    display: inline-block;
    /* width: 16px;
    height: 16px; */
    cursor: pointer;
    background: url(img/bg-radio.png) no-repeat;
}

.outtaHere {
    position: absolute;
    left: -9999px;
}

.price {
    /* color: #16a085; */
    font-size: 14px;
    font-weight: 700;
    /* margin-right: 31rem; */
}

.cart-types-head .price {
    float: right;
    color: #d1121a;
}

.cart-types-head label {
    color: #444;
    float: left;
}
.cart-types .radioAreaChecked, .cart-types .radioArea {
    float: left;
    margin-right: 8px;
}
.cart-delivery {
    padding: 6px 24px 26px;
}

.cart-delivery .checkboxArea,
.cart-delivery .checkboxAreaChecked {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.checkboxAreaChecked,
.checkboxArea {
    /* width: 16px; */
    height: 16px;
    cursor: pointer;
    display: inline-block;
    background: url(img/bg-checkbox.png) no-repeat;
}

/* .cart-cards {
    padding-left: 7px;
    padding-top: 10px;
} */

.inputcheck{
    box-sizing: border-box;
    padding: 0;
    margin-right: 1rem;

}
.cart-cards {
    padding-left: 7px;
    padding-top: 10px;
}
img.card {
    display: inline;
    margin: 0;
}